In [1]:
import pandas as pd
import numpy as np
metadata = pd.read_csv('test_identities_gender-expression_seed_222.csv')

In [83]:
path

PosixPath('Phase1A/outputs/dpn107_CosFace-multi.csv')

In [84]:
df = pd.read_csv(path)
epochs = df.drop('ids',axis=1).columns

In [85]:
df = metadata.merge(df)

In [86]:
lookup = {x:df.iloc[x]['label'] for x in range(df.shape[0])}

In [92]:
df[epochs] = df[epochs].applymap(lambda x: lookup[x])

In [93]:
len(np.unique(df['epoch_100']))

406

In [91]:
len(np.unique(df['label']))

812

In [94]:
for e in epochs:
    print(sum(df['label'] == df[e])/df.shape[0])

0.002422734415924568
0.0009821896280775276
0.0013095861707700367
0.0011131482451545312
0.001636982713462546
0.0013750654793085386
0.0026191723415400735
0.0018988999476165533
0.0014405447878470404
0.0025536930330015716
0.0014405447878470404
0.0021608171817705606
0.0026191723415400735
0.0015060240963855422
0.0018988999476165533
0.0018988999476165533
0.0015060240963855422
0.001571503404924044
0.002029858564693557
0.0013095861707700367
0.0013095861707700367
0.0015060240963855422
0.001636982713462546
0.0020953378732320588
0.0013095861707700367
0.001571503404924044
0.0017024620220010478
0.001571503404924044
0.0010476689366160294
0.0018334206390780514
0.0013750654793085386
0.0017679413305395496
0.0017024620220010478
0.0020953378732320588
0.001178627553693033
0.0013750654793085386
0.0014405447878470404
0.0014405447878470404
0.0015060240963855422
0.001964379256155055
0.001636982713462546
0.001636982713462546
0.0018334206390780514
0.0014405447878470404
0.0026191723415400735
0.0018334206390780514
0.001244106862231535
0.002357255107386066
0.0026191723415400735
0.001636982713462546
0.002422734415924568
0.0010476689366160294
0.0009821896280775276
0.001244106862231535
0.001636982713462546
0.0015060240963855422
0.0017679413305395496
0.002422734415924568
0.002029858564693557
0.0022262964903090625
0.0011131482451545312
0.002029858564693557
0.0021608171817705606
0.0008512310110005239
0.0009821896280775276
0.001571503404924044
0.0017024620220010478
0.0014405447878470404
0.0020953378732320588
0.0026191723415400735
0.0013095861707700367
0.0018334206390780514
0.001636982713462546
0.0015060240963855422
0.0018988999476165533
0.0010476689366160294
0.0017024620220010478
0.0022262964903090625
0.001636982713462546
0.0020953378732320588
0.0025536930330015716
0.0018334206390780514
0.0017679413305395496
0.0015060240963855422
0.000785751702462022
0.0022262964903090625
0.0015060240963855422
0.001244106862231535
0.0021608171817705606
0.001571503404924044
0.001244106862231535
0.0013095861707700367
0.001244106862231535
0.0013095861707700367
0.0014405447878470404
0.0011131482451545312
0.0021608171817705606
0.0010476689366160294
0.001244106862231535
0.0013750654793085386
0.001636982713462546
0.0022917757988475643

In [106]:
df

         ids  label gender_expression  epoch_0
0          0     53              male     5442
1          1     53              male     5442
2          2     53              male     5442
3          3    347              male     3163
4          4    347              male      583
...      ...    ...               ...      ...
15267  15267    756            female      583
15268  15268    508            female     5059
15269  15269    576            female     3376
15270  15270    662            female     5442
15271  15271    406            female     1950

[15272 rows x 4 columns]

In [8]:
from pathlib import Path

for path in Path('Phase1A/').rglob("*kacc.csv"):
    print(path)
    df = pd.read_csv(path)
    df = metadata.merge(df)
    try:
        print(sum(df['epoch_100'] == df['label'])/df.shape[0])
    except:
        continue

Phase1A/dpn107_CosFace/_kacc.csv
0.949122577265584
Phase1A/selecsls60b_CosFace/_kacc.csv
0.5261262441068623
Phase1A/inception_resnet_v2_CosFace/_kacc.csv
0.8732320586694604
Phase1A/ese_vovnet39b_CosFace/_kacc.csv
0.8099790466212676
Phase1A/mobilenetv3_large_100_CosFace/_kacc.csv
0.8644578313253012
Phase1A/gluon_inception_v3_CosFace/_kacc.csv
0.3330277632268203
Phase1A/inception_v4_CosFace/_kacc.csv
0.09003404924044002
Phase1A/resnetrs420_CosFace/_kacc.csv
Phase1A/ig_resnext101_32x16d_CosFace/_kacc.csv
Phase1A/convmixer_1536_20_CosFace/_kacc.csv
Phase1A/ghostnet_100_CosFace/_kacc.csv
0.6745023572551074
Phase1A/swin_base_patch4_window7_224_CosFace/_kacc.csv
Phase1A/convit_base_CosFace/_kacc.csv
Phase1A/cait_s24_224_CosFace/_kacc.csv
Phase1A/cspdarknet53_CosFace/_kacc.csv
0.8089313776846516
Phase1A/dla102x2_CosFace/_kacc.csv